*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #262938;
}
.container{
    width: 100%;
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
  
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-container{
    display: flex;
    align-items: center;
    text-align: center;
  
}
.img img{
    width: 500px;

}
.avtar{
    width: 100px;
    margin-top: 30px;
  
}

form{
    width: 360px;
    height: 500px;
   margin-top: 15%;
   background-color: #1F2430;
   border-radius: 40px;
   filter: drop-shadow(0px 3px 37px rgba(255, 182, 57, 0.659));
}
form h2{
    font-size: 2rem;
    margin: 15px 0;
    color: #CF6F38;
}

 .input-div{
     position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
} 

.input-div:after , .input-div:before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0 ;
    height: 2px;
    background-color: #38d39f;
    transition: .3s;
}  
 .input-div::after{
    right: 50%;
}
.input-div::before{
    left: 50%;
} 
.input-div.focus .i i{
    color: #38d39f ;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}
.input-div.focus::after , .input-div.focus::before{

    width: 50%;
}

.input-div .one{
margin-top: 0;
}
.input-div .two{
    margin-bottom: 4px;
    }

    i{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i i{
        color: #d9d9d9;
        transition:.3s ;
    }
    .input-div > div {

        position: relative;
        height: 45px;

    }

    .input-div > div h5{
position: absolute;
left: 10;
top: 50%;
transform: translateY(-50%);
color: #999;

font-size: 18px;
transition: .3s;


    }

    .input{

        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: none;
        outline: none;
        background: none;
        padding: 0.5rem 0.7rem ;
        font-size: 1.2rem;
        color: #555;
    }
 .btn{
display: block;
width: 100%;
height: 50px;
border-radius: 25px;
margin: 1rem 0;
font-size: 1.2rem;
outline: none;
border: none;
background-image: linear-gradient(to right ,#FB7741 ,#FD903F,#FEA73B);
cursor: pointer;
color: #fff;

 }
 .btn:hover{
     background-position: right;
 }

 @media screen and (max-width:1050px){
     .container {
         grid-gap: 5rem;
                }
 }
 @media screen and (max-width:1000px){
    form {
        width: 290px;
        }

    form h2{
        font-size: 2.4rem;
        margin: 8px 0;


            }
    .img img{
        width: 400px;
        }
}
@media screen and (max-width:900px){
.img{
    display: none;
}
.container
{
    grid-template-columns: 1fr;
}
.login-container{
    justify-content: center;
}
}

.Path_1_v {
    overflow: visible;
    position: absolute;
    width: 50%;
    height: 811.875px;
    left: -87px;
    top: -151.876px;
    transform: matrix(1,0,0,1,0,0);
}
#Aderate {
    position: absolute;
    left: 71px;
    top: 76px;
    overflow: visible;
    width: 404px;
    white-space: nowrap;
    text-align: right;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 116px;
    color: rgba(254,251,251,1);
}
#Tech_Solution {
    position: absolute;
    left: 60px;
    top: 197px;
    overflow: visible;
    width: 415px;
    white-space: nowrap;
    text-align: right;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: rgba(254,251,251,1);
}